.Statistics-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px 10px;
}

.Name-Card-Selection{
    /* display: none; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
}

.Card-Selection{
    cursor: pointer;
    border-radius: 15px;
    background-color: #5923211e;
    transition: 0.2s;
    padding: 20px;
    position: relative;
}

.Card-Selection.EM{
    border: 2px solid #592321;    
}

.Card-Selection.CA{
    border: 2px solid #0266E2;
}

.Card-Selection:hover{
    border-radius: 35px;
}

.Card-Selection:hover img{
    /* opacity: 0.3; */
}

.Card-Selection:hover .Name-Card-Selection{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    height: 100%;
    color: black;
}

.Card-Selection img{
    transition: 0.5s;
    display: block;
}
.Card-Selection:hover img{
    transform: scale(1.2);
}